* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#slider {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.box-img {
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}



/* Tolgo l'evidenziatore del box */
.box-img:focus,
.box-img:active {
    outline: none;
}

.arrow-left, .arrow-right {
    width: 30px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.cont-img {
    width: 550px;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circ {
    width: 100%;
    display: flex;
    justify-content: center;

}

.circ>i {
    padding: 15px;
}

/* .fa.circle.active {
    background-color: yellow;
} */




